@import url(./variables.css);

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button,
input,
textarea {
  font: var(--font-light) var(--normal-font-size) var(--body-font);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Reusable CSS classes*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}

/*Header & Nav*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  cursor: pointer;
}

/*Navigation mobile devices*/
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-block: 5rem 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: top 0.4s;
  }
}

.nav_list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: color 0.4s, width 0.4s;
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link:hover::after {
  width: 60%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/*Show Menu*/
.show-menu {
  top: 0;
}

/*BreakPoints*/

/*For small devices*/
@media screen and (max-width: 600px) {
    .container {
        margin-inline: 1rem;
    }
}

/*For medium devices*/



/*For large devices*/
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 4rem;
    }
}
